<!DOCTYPE html>
<html>
<head>
	<titl>Add Employee</title>
</head>
<body>
  <form method="post">
  <table>
  <tr><td> Employerid: <input type="text" name="eid"><br></td></tr>
   <tr><td>	Employername: <input type="text" name="ename"><br></td></tr>
   <tr><td> Companyname: <input type="text" name="cname"><br></td></tr>
	<tr><td>	Contactno: <input type="text" name="cno"><br></td></tr>
	<tr><td>	Username: <input type="text" name="uname"><br></td></tr>
	<tr><td>	Password: <input type="password" name="password"><br></td></tr>
	<tr><td>	Type: <input type="text" name="type"><br></td></tr>
	<tr><td>	<input type="submit" name="" value="Submit"></td></tr>
	</form>
	</body>
	
</html>
  